[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "nano/highlights"]
	path = nano/highlights
	url = https://github.com/scopatz/nanorc.git
