! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

/*! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000, #1aa, argb:11FFFFFF, #1aa,#333
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000, #f99, argb:11FFFFFF, #f99,#333
! Color scheme for active row
rofi.color-active:                   argb:00000000, #aa1, argb:11FFFFFF, #aa1,#333
! Color scheme window
rofi.color-window:                   argb:ee333333, #1aa,#1aa
! Separator style (none, dash, solid)
rofi.separator-style:                dash*/

/* colors */
#define bg   #32302f
#define fg   #ebdbb2
#define blk  #282828
#define bblk #928374
#define dred #cc241d
#define red  #fb4934
#define dgrn #98971a
#define grn  #b8bb26
#define dylw #d79921
#define ylw  #fabd2f
#define dblu #458588
#define blu  #83a598
#define dmag #b16286
#define mag  #d3869b
#define dcyn #689d6a
#define cyn  #8ec07c
#define dwht #a89984
#define wht  #ebdbb2


/* rofi */
rofi.font:            Iosevka Term Slab 20
rofi.terminal:        terminator
rofi.columns:         1
rofi.eh:              1
rofi.padding:         400
rofi.fullscreen:      true
rofi.opacity:         80
rofi.bw:              0
rofi.sidebar-mode:    false
rofi.separator-style: none
rofi.hide-scrollbar:  true
rofi.color-enabled:   true
rofi.line-margin:     5

rofi.color-normal: bg, fg, bg, bg, cyn
rofi.color-urgent: bg, fg, bg, bg, blu
rofi.color-active: bg, fg, bg, bg, grn
rofi.color-window: bg, bblk, bblk
